# Python
__pycache__/
*.pyc
.Python

# Virtual Environment
venv/
env/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Secrets & Keys (CRITICAL)
.streamlit/secrets.toml
.env
*.key
secrets.py

# Construction Site Assets
# Allow the specific mp4s you want, ignore the rest of the noise
assets/temp/
*.log
!assets/*.mp4
